# The things that happen with a merge to master

name: Deploy the app's assets

# Controls when the action will run.
on:
  push:
    branches: [staging, main]

defaults:
  run:
    shell: bash
jobs:
  tag:
    # The type of runner that the job will run on
    # runs-on: [self-hosted, cloud-engineering, tools-low]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - name: Bump version and push tag (staging)
        # if: github.ref == 'refs/heads/staging'
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          WITH_V: true
          PRERELEASE_SUFFIX: "-staging"
          DEFAULT_BUMP: "patch"
          RELEASE_BRANCHES: "master"
